.pointer {
  cursor: pointer;
}
.widget {
  box-shadow: 0 1px 2px 0 rgb(22 33 54 / 16%);
  padding: .3rem .5rem;
  border-radius: 1rem;
}
.row-label {
  font-size: 2rem;
  color: rgb(3, 155, 229);
  padding: 4px 10px;
  text-align: center;
}
